.nav.navbar, .navbar-default {
    background-color: white important!;
}

.navbar-default {
    background-image: none;
    border: none;
    border-radius: 0;
    margin: 0;
}

.navbar-default .navbar-nav >li > a {
    color: #584C8C;
}

.navbar-default .navbar-brand {
    position: absolute;
    width: 104px;
    height: 22px;
    left: 59px;
    top: 3px;
    color : #DC683E;
}

navbar-default .navbar-toggle {
    border-color: white;
}

navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}
.navbar-default .navbar-toggle:focus, navbar-default .navbar-toggle:hover {
    color: white;
    background-color: transparent;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: #584C8C;
    background-color: transparent;
}